.App .body div>div[id] {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 75vh;
  align-content: flex-start;
}

.body .card {
  position: relative;
  width: 95%;
  height: 150px;
  justify-self: center;
  margin: 5px auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  text-align: left;
  background: white;
}

.App .body .todo {
  background: #ffe6e6;
}

.App .body .inprogress {
  background: #fff7e6;
}

.App .body .done {
  background: #e6ffee;
}

.body .card h3 {
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
  margin-left: 5px;
}

.body .card p {
  width: 58%;
  max-height: 100px;
  margin-left: 5px;
  margin-block-start: 0;
  overflow-y: auto;
}

.body .card i {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 1.375rem;
  color: #646e82;
}

.body .card img {
  position: absolute;
  bottom: 7.5%;
  right: 8%;
  display: flex;
  max-width: 30%;
  max-height: 85%;
}
