.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  left: 2vw;
  height: 8vh;
  margin: 5px 0;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #646e82;
  display: flex;
  height: 10vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  margin-block-start: 0;
  margin-block-end: 0.5vh;
  font-size: 6.5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 99vw;
  height: 88vh;
  margin: 1vh auto;
}

.App .body>div {
  margin: 5px;
  border-radius: 10px;
  background: #e2e4e9;
  overflow-y: auto;
  overflow-x: hidden;
}

.App .body button {
  max-width: 270px;
  margin-block-start: 0.83rem;
  margin-block-end: 0;
  border: 1px dotted  #646e82;
  padding: 5px 10px;
  border-radius: 7px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  background: white;
}

.App .body button:hover {
  transform: scale(1.2);
}
